/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --font-size-h1-desktop: 2rem;
  --font-size-subtitles: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: #171821;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 78px;
  background: #171821;
  border-right: 1px solid #8383835d;
  z-index: 99;
  transition: width 0.5s;
}

.light-mode {
  transition: all 2100ms ease-in;
  background-color: rgb(230, 230, 230);
}

.sidebar.open {
  width: 250px;
  transition: width 0.5s;
}

.sidebar .logo {
  display: flex;
  height: 90px;
  justify-content: space-between;
  align-items: center;
}

.sidebar .logo #logo_img {
  position: absolute;
  top: 25px;
  left: 19px;
  height: 40px;
}

.sidebar .logo .logo_text {
  margin-left: 70px;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(60deg, #70578d, #aa6deb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: translateX(-250px);
  transition: 0.5s;
}

.sidebar.open .logo .logo_text {
  opacity: 1;
  transform: translateX(0);
  transition: 0.5s;
}

.sidebar .logo #btn {
  color: #575f66;
  margin-right: 20px;
  font-size: 30px;
  opacity: 0;
  transform: translateX(-250px);
  transition: 0.5s;
}

.sidebar.open .logo #btn {
  opacity: 1;
  transform: translateX(0);
  transition: 0.5s;
}

ul {
  border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
}

ul li {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

ul li a,
.logout a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

ul li a i,
.logout a i {
  position: relative;
  color: #575f66;
  font-size: 25px;
  margin-left: calc((78px - 25px) / 2);
  z-index: 10;
}

.sidebar ul li a .links_name,
.sidebar .logout a .links_name {
  color: #575f66;
  margin: auto 30px;
  width: 110px;
  transform: translateX(-250px);
  opacity: 0;
}

#active {
  color: #8e48ff;
}

.sidebar.open ul li a .links_name,
.sidebar.open .logout a .links_name {
  transform: translateX(0);
  opacity: 1;
  transition: 0.5s;
}

ul li a:hover i,
ul li a:hover .links_name {
  color: #8e48ff;
  transition: 0.2s;
}

.sidebar ul li .tooltip,
.sidebar .logout .tooltip {
  color: #575f66;
  background: #fff;
  width: 110px;
  padding: 6px 12px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  position: absolute;
  left: 0px;
  z-index: 8;
  transition: 0.5s;
}

.sidebar ul li:hover .tooltip,
.sidebar .logout:hover .tooltip {
  opacity: 1;
  left: 85px;
  transition: 0.5s;
}

.sidebar.open ul li .tooltip,
.sidebar.open .logout .tooltip {
  display: none;
}

.sidebar .info {
  position: relative;
  margin-top: 10px;
}

.sidebar .info a .avatar {
  position: relative;
  width: 78px;
  z-index: 10;
  transition: 0.5s;
}

.sidebar.open .info a .avatar {
  transform: translateX(86px);
  transition: 0.75s;
}

.sidebar .info a .table {
  position: absolute;
  z-index: 8;
  top: 30px;
  width: 70%;
  left: 15%;
  height: 0;
  margin: 0px auto;
  color: #fff;
  background: linear-gradient(60deg, #4d6fff, #aa6deb);
  border-radius: 20px;
  opacity: 1;
  transition: 0.5s;
}

.sidebar.open .info a .table {
  opacity: 1;
  height: 150px;
  transition: 0.5s;
}

.sidebar .info .tooltip {
  color: #575f66;
  background: #fff;
  font-size: 15px;
  width: 150px;
  padding: 6px 12px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 8;
  transition: 0.5s;
}

.sidebar .info:hover .tooltip {
  opacity: 1;
  left: 85px;
  transition: 0.5s;
}

.sidebar.open .info .tooltip {
  display: none;
}

.sidebar .info .table_text {
  margin: 40px 10px 0px;
  text-align: center;
  font-size: 0px;
  line-height: 25px;
  opacity: 0;
}

.sidebar.open .info .table_text {
  font-size: 13px;
  opacity: 1;
  transition: 0.5s;
}

.table_text span {
  font-size: 14px;
  font-weight: bold;
}

.name {
  font-weight: bolder;
}

.country {
  font-size: 13px;
}

.logout {
  position: absolute;
  bottom: 30px;
  display: flex;
  align-items: center;
}

.logout a:hover i,
.logout a:hover .links_name {
  color: #c46262;
  transition: 0.5s;
}

.Home_section {
  position: relative;
  top: 0;
  left: calc(78px - 20px);
  z-index: 2;
  transition: all 0.5s ease;
}

.sidebar.open ~ .Home_section {
  left: calc(250px - 20px);
  transition: all 0.5s ease;
}

.Home_section {
  display: inline-block;
  color: #fff;
  margin: 0px 40px 0px 40px;
  width: 100vw;
  background-color: #21222d;
  overflow: hidden;
}

/* SECTION 01 INFORMACOES DESDE O LANÇAMENTO */

.container_text > h1 {
  font-size: var(--font-size-h1-desktop);
  font-weight: 500;
}

.container_text > h2 {
  font-size: var(--font-size-subtitles);
  color: #969696;
  font-weight: 400;
}

.cards {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.card_item {
  background-color: #171821;
  min-width: 325px;
  height: 160px;
  padding: 1.4rem;
  border-radius: 8px;
}

.container {
  padding: 2rem;
}

#table {
  margin-top: 1rem;
  width: 50vw;
  padding: 1.2rem;
  width: 50vw;
  border-radius: 0.5rem;
}

/* Ajuste do container */
.table-container {
  width: 100%;
  overflow-x: auto; /* Permite rolagem horizontal se necessário */
}

/* Estilização básica da "tabela" */
.responsive-table {
  width: 100%;
  padding: 0;
  margin: 1rem 0;
}

/* Linha do cabeçalho */
.table-header {
  color: white;
  border-bottom: 1px solid rgba(245, 222, 179, 0.226);
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  font-weight: bold;
}

/* Linhas dos dados */
.table-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

/* Estilização das colunas */
.col {
  flex: 1; /* Faz com que as colunas ocupem o mesmo espaço */
  text-align: left;
}

#porcentagem {
  text-align: center;
}

/* Responsividade: Transformando em "cards" no mobile */
@media (max-width: 768px) {
  #porcentagem {
    padding: 8px;
    background-color: #5ac18e;
    border: 1.5px solid green;
    border-radius: 8px;
  }

  .produtos__title {
    font-size: 20px;
  }
  .table-header {
    display: none;
  }

  #table {
    width: 100vw;
  }
  .container_text > h1 {
    font-size: 24px;
  }

  .card_item {
    min-width: 320px;
  }
  .table-header {
    display: none;
    gap: 1rem;
    font-size: 12px;
  }

  .table-row {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    justify-content: start;
    align-items: start;
  }

  .col {
    display: flex;
    justify-content: space-between;
    text-align: start;
    padding: 12px 0;
    font-weight: bold;
  }

  .col::before {
    font-weight: 400;
    color: #f3f3f3;
    content: attr(data-label); /* Usa o atributo data-label como rótulo */
    display: flex;
    margin-right: 1rem;
  }
}
